.form-container-m {
  height: 95vh;
  width: 100%;
  display: grid;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  position: relative;
  grid-template-columns: 0.5fr 2fr;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.form-content-left-m {
  background: #15b9b5;
  position: relative;
}

.form-content-right-m {
  position: relative;
  background-image: linear-gradient(
    to left top,
    #ffffff,
    #fbfbfe,
    #f6f8fd,
    #f0f5fc,
    #e9f2fb
  );
}

.form-m {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-m h1 {
  font-size: 30px;
  text-align: start;
  width: 80%;
  margin-bottom: 16px;
  color: #fff;
}

.form-inputs-m {
  margin-bottom: 12px;
  width: 80%;
}

.form-inputs-m p {
  font-size: 12px;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label-m {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #fff;
}

.form-input-m {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input-btn-m {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {
  .form-container-m {
    grid-template-columns: 0.8fr 2fr;
  }

  .form-img-m {
    width: 100%;
    height: 90%;
  }
}

@media screen and (max-width: 768px) {
  .form-container-m {
    grid-template-columns: 0.8fr 2fr;
  }
  .form-img-m {
    width: 100%;
    height: 80%;
  }
}

.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;

  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}
